## Exploratory Data Analysis

### Understand Data

In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
# read csv file as a dataframe
data = pd.read_csv('DSA_Data_Set.csv')

In [4]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,ModelPrediction,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0.932750,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0.953579,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0.945724,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0.933875,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0.940996,no

In [5]:
data.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,ModelPrediction,y
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0.567417,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0.655416,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0.574102,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0.615098,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,0.631597,no

In [7]:
# rows and columns in dataset
data.shape

(41188, 22)

In [8]:
# descriptive statistics
data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,ModelPrediction
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911,0.887597
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528,0.125351
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.250174
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.857484
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.945879
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.959214
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,0.988360

In [9]:
#column names
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'ModelPrediction', 'y'],
      dtype='object')

In [12]:
#unique values in each column
data.nunique()

age                   78
job                   12
marital                4
education              8
default                3
housing                3
loan                   3
contact                2
month                 10
day_of_week            5
duration            1544
campaign              42
pdays                 27
previous               8
poutcome               3
emp.var.rate          10
cons.price.idx        26
cons.conf.idx         26
euribor3m            316
nr.employed           11
ModelPrediction    38444
y                      2
dtype: int64

In [15]:
#ages
data['age'].unique()

array([56, 57, 37, 40, 45, 59, 41, 24, 25, 29, 35, 54, 46, 50, 39, 30, 55,
       49, 34, 52, 58, 32, 38, 44, 42, 60, 53, 47, 51, 48, 33, 31, 43, 36,
       28, 27, 26, 22, 23, 20, 21, 61, 19, 18, 70, 66, 76, 67, 73, 88, 95,
       77, 68, 75, 63, 80, 62, 65, 72, 82, 64, 71, 69, 78, 85, 79, 83, 81,
       74, 17, 87, 91, 86, 98, 94, 84, 92, 89])

In [29]:
# age distribution
data.age.value_counts()

31    1947
32    1846
33    1833
36    1780
35    1759
      ...
89       2
91       2
87       1
94       1
95       1
Name: age, Length: 78, dtype: int64

In [23]:
#job type
data['job'].unique()

array(['housemaid', 'services', 'admin.', 'blue-collar', 'technician',
       'retired', 'management', 'unemployed', 'self-employed', 'unknown',
       'entrepreneur', 'student'], dtype=object)

In [28]:
#find "unknown" count and distribution
data.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [30]:
#marital status
data['marital'].unique()

array(['married', 'single', 'divorced', 'unknown'], dtype=object)

In [31]:
#find unknown count and distribution
data.marital.value_counts()

married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64

In [32]:
#education leve
data['education'].unique()

array(['basic.4y', 'high.school', 'basic.6y', 'basic.9y',
       'professional.course', 'unknown', 'university.degree',
       'illiterate'], dtype=object)

In [33]:
#find unknown count and distribution
data.education.value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [34]:
#has defaulted
data['default'].unique()

array(['no', 'unknown', 'yes'], dtype=object)

In [35]:
#find unknown count and distribution
data.default.value_counts()

no         32588
unknown     8597
yes            3
Name: default, dtype: int64

In [36]:
#has a housing loan?
data['housing'].unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [37]:
#find unknown count and distribution
data.housing.value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [38]:
#has a personal loan?
data['loan'].unique()

array(['no', 'yes', 'unknown'], dtype=object)

In [39]:
#find unknown count and distribution
data.loan.value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

In [40]:
#contact communication type
data['contact'].unique()

array(['telephone', 'cellular'], dtype=object)

In [41]:
#find unknown count and distribution
data.contact.value_counts()

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [42]:
#last contact - month
data['month'].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'mar', 'apr',
       'sep'], dtype=object)

In [43]:
#find unknown count and distribution
data.month.value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [44]:
#last contact - day of week
data['day_of_week'].unique()

array(['mon', 'tue', 'wed', 'thu', 'fri'], dtype=object)

In [45]:
#find unknown count and distribution
data.day_of_week.value_counts()

thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: day_of_week, dtype: int64

In [ ]:
#calls received
data['campaign'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['pdays'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['previous'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['poutcome'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['emp.var.rate'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['cons.price.idx '].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['cons.conf.idx'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['euribor3m'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['nr.employed'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['ModelPrediction'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

In [ ]:
data['y'].unique()

In [ ]:
#find unknown count and distribution
data.marital.value_counts()

### Clean Data

### Analyze the Relationship Between the Variables